<h2>Race Results</h2>
<div class="race-card mat-elevation-z3">

    <mat-table *ngIf="raceResults.length" [dataSource]="raceResults" class="mat-elevation-z2">
        <ng-container matColumnDef="horse">
            <mat-header-cell *matHeaderCellDef> Horse </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <a [routerLink]="['/races', row.id]">{{ row.horse }}</a>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="jockey">
            <mat-header-cell *matHeaderCellDef> Jockey </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{ row.jockey }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="finishingPosition">
            <mat-header-cell *matHeaderCellDef> Position </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{ row.finishingPosition }} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
</div>